.container {
    height: auto; 
    display: grid;
    place-items: center;
    padding: 20px; 
}

#editSignos,
#selectTipoPersona { 
    margin-top: 0px;
    margin: 10px; 
    width: 400px;
    padding: 10px; 
    border-radius: 10px;
    background-color: rgb(71, 63, 63);
    color: white;
    
    
    text-align: center; 
    box-sizing: border-box;

    
}

#btnEditar {
    margin-top: 10px; 
    padding: 10px 20px; 
    border-radius: 10px;
    background-color: brown;
    color: white;
}

#btnGuardar { 
    margin-top: 10px; 
    padding: 10px 20px; 
    border-radius: 10px;
    background-color: #ff5722; 
    color: white; 
    transition: background-color 0.3s; 
}

#btnGuardar:hover { 
    background-color: #c791fa; 
}

#textoAdmin {
    font-style: italic;
    margin-bottom: 20px; 
}

#textoEditar {
    border-radius: 10px;
    display: flex;
    background-color: rgb(95, 82, 82);
    color: white;
    margin-top: 10px; 
    width: 400px; 
    height: 100px; 
}

#btnHomeAdmin {
    margin-top: 15px;
    padding: 5px 15px; 
    border-radius: 10px;
    background-color: blue;
    color: white;
}
