.change-password-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px; /* Cambiado para igualar el borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 10%; /* Añadido para mantener consistencia con el padding del formulario */
}

.change-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Fuente alineada */
}

.change-password-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Fuente alineada */
}

.change-password-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(48, 27, 238); /* Color adaptado al del botón enviar */
    color: white;
    border: none;
    border-radius: 15px; /* Cambiado para igualar el borde redondeado */
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente alineada */
    margin-top: 20px; /* Espaciado para igualar el botón enviar */
}

.change-password-container button:hover {
    background-color: #45a049;
}
