.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

