body {
    justify-content: center;
    text-align: center;
}

.entry {
    border-radius: 10px;
    padding: 10px 20px 10px 35px;
}

form {
    padding: 20px;
    padding-top: 10%;
}

#btnEnviar {
    margin-top: 20px;
    background-color: rgb(48, 27, 238);
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.txt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#txtBienvenida {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: white;
}

/* Estilos para el botón de cambiar contraseña */
#btnChangePassword {
    margin-top: 10px;
    background-color: rgb(194, 4, 4);
    padding: 5px 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    cursor: pointer;
}

#btnChangePassword:hover {
    background-color: rgb(219, 9, 9);
}

/* Estilos para el botón de crear usuario */
#btnCreateUser {
    margin-top: 10px;
    background-color: rgb(238, 216, 18);
    /* Verde para diferenciarlo */
    padding: 5px 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    cursor: pointer;
}

#btnCreateUser:hover {
    background-color: rgb(213, 255, 24);
    /* Cambia el color al pasar el cursor */
}

#btnCreateAdmin {
    margin-top: 10px;
    background-color: rgb(16, 216, 238);
    padding: 5px 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    cursor: pointer;
}

#btnCreateAdmin:hover {
    background-color: rgb(24, 245, 255);
}