.container{
    height: 300px;
    display: grid;
    place-items: center;
}

#selectSignos{
    margin-top: 0px;
    margin: 100px;
    width: 400px;
    padding: 5px 50px 5px 10px;
    border-radius: 10px;
    background-color: rgb(46, 37, 37);
    color: white;
}

#txtSeleccionPage{
    padding: 50px;
    padding-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique  ;
}

#btnHome{
    margin-top: 100px;
    background-color: rgb(46, 37, 37);;
    color: white;
    padding: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
}