.container {
    height: 500px;
    display: grid;
    place-items: center;
}

#selectSignos, #selectCategoria {
    margin-top: 0px;
    margin: 20px; /* Ajusta el margen para separar los selectores */
    width: 400px;
    padding: 5px 50px 5px 10px;
    border-radius: 10px;
    background-color: rgb(71, 63, 63);
    color: rgb(0, 0, 0);
    font-size: 16px; /* Tamaño de fuente consistente */
}

#txtSeleccionPage {
    padding: 50px;
    padding-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center; /* Centrar el texto */
}


#textoSigno {
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(240, 105, 105);
    color: white;
}


#btnHome {
    margin-top: 100px;
    background-color: blue;
    color: white;
    padding: 15px 30px; /* Ajusta el padding para el botón */
    border-radius: 10px;
    font-size: 16px; /* Tamaño de fuente consistente */
}
