.sort-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sort-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f0a500; /* Color de fondo */
    color: white;
    border: none;
    border-radius: 20px; /* Ovalado */
    cursor: pointer;
    font-size: 16px;
  }
  
  .sort-controls button:hover {
    background-color: #e08d00; /* Color de fondo al pasar el mouse */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Ajusta según sea necesario */
  }
  
  .letter-box, .number {
    font-size: 18px;
    margin: 5px;
  }
  
  .result-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .results {
    background-color: white;
    border-radius: 50px; /* Ovalado */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
  }
  
  .results .grid-item {
    margin: 0;
  }
  
  
