body{
    text-align: center;
    justify-content: center;
    display: flex;
}

.container{
    text-align: center;
    justify-content: center;
    background-color: rgb(214, 209, 209);
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
    width: 500px;
    display: block;
}

.number{
    margin: 20px;
    height: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.btnEnviar{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    color: rgb(24, 23, 23);
    border-color: rgb(22, 21, 21);
    margin-left: 10px;
}

#txtCalculadora{
    color: rgb(14, 13, 13);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}